---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: Archive
  order: 2
---

<div class="container">
  <div class="row m-3">
    <div class="col-md">
      <h3>Archive</h3>
    </div>
  </div>
  <div class="row m-3">
    <div class="col-md">
      {% set postslist = collections.posts %}
      {% include "postslist.njk" %}
    </div>
  </div>
</div>