---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
leadimage: /assets/cizm-ad-poster-1280x1920.jpg
---

<div class="container">
    <div class="row pt-5 mx-3">
          <div class="col">
              <h2 id="tagline">{{ metadata.slogan }}</h2>
              
              <p class="pt-4"><img src="/assets/continuumizm-logo-only-box-36x36-black-trans.svg" class="icon-cizm-box-black-trans"><em> Sounds & stories from the dance music continuum, collected & connected.</em></p>
          </div> 
    </div>
</div>

<div class="container">
  <div class="row m-3">
    <div class="col-md">
      {% set postslist = collections.posts | head(-3) %}
      {% set postslistCounter = collections.posts | length %}
      {% include "postslist.njk" %}
    </div>
  </div>
</div>



