---
layout: layouts/base.njk
templateClass: tmpl-post
---
<article class="container">
    <div class="row justify-content-md-center pt-5">
        <div class="col" id="title-block">
            <h4 id="title">{{ title }}<br><small class="text-muted">{{ subtitle }}</small></h4>
            <small class="border-top pt-1" title="{{ date }}">{{ date | readableDate }}</small>
            <br>
            <p class="pt-1">
                <img src="/assets/continuumizm-logo-only-box-36x36-black-trans.svg" class="icon-cizm-box-black-trans" alt="[on continuumizm]"> <small class="icon-cizm-box-black-trans text-capitalize">{{ category }}</small>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col m-4">
            <!-- TODO:make a nunjucks function to take a chunk of text and pass to a makelead function that spits back <p class="lead"> -->
            {% if lead %}<p class="lead">{{ lead }}</p>{% endif %}
            <div id="story">
                {{ content | safe }}
            </div>
        </div>
    </div>
</article>

<footer class="container">
    <div class="row border-top pt-1">
          <div class="col">
              <h5 id="tagline" class="w-75">{{ metadata.slogan }}</h5>
              <p><a href="{{ '/' | url }}"><img src="/assets/continuumizm-logo-and-name-blackonwhite-x36px.svg" id="logo" alt="Continuumizm ← Home"></a></p>
              <p>©<em>2020</em></p>
          </div> 
    </div>
</footer>
