<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


    <!-- Primary Meta Tags -->
	<title>{{ title or metadata.title }}{% if subtitle %} - {{ subtitle }}{% endif %}</title>
	<meta name="description" content="{{ summary or description or metadata.description }}">

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ page.url | url | absoluteUrl(metadata.url) }}">
	<meta property="og:title" content="{{ title or metadata.title }}">
	<meta property="og:description" content="{{ summary or metadata.description }}">
	<meta property="og:image" content="{% if leadimage %}{{ leadimage | url | absoluteUrl(metadata.url) }}{% else %}{{ metadata.leadimage_default | url | absoluteUrl(metadata.url) }}{% endif %}">

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="{{ page.url | url | absoluteUrl(metadata.url) }}">
	<meta property="twitter:title" content="{{ title or metadata.title }}">
	<meta property="twitter:description" content="{{ summary or metadata.description }}">
	<meta property="twitter:image" content="{% if leadimage %}{{ leadimage | url | absoluteUrl(metadata.url) }}{% else %}{{ metadata.leadimage_default | url | absoluteUrl(metadata.url) }}{% endif %}">
	
	<!-- favicons -->
	
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/favicons/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/favicons/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/favicons/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/favicons/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon-precomposed" sizes="60x60" href="/assets/favicons/apple-touch-icon-60x60.png" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/favicons/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/assets/favicons/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/favicons/apple-touch-icon-152x152.png" />
	<link rel="icon" type="image/png" href="/assets/favicons/favicon-196x196.png" sizes="196x196" />
	<link rel="icon" type="image/png" href="/assets/favicons/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/png" href="/assets/favicons/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="/assets/favicons/favicon-16x16.png" sizes="16x16" />
	<link rel="icon" type="image/png" href="/assets/favicons/favicon-128.png" sizes="128x128" />
	<meta name="application-name" content="&nbsp;"/>
	<meta name="msapplication-TileColor" content="#FFFFFF" />
	<meta name="msapplication-TileImage" content="/assets/favicons/mstile-144x144.png" />
	<meta name="msapplication-square70x70logo" content="/assets/favicons/mstile-70x70.png" />
	<meta name="msapplication-square150x150logo" content="/assets/favicons/mstile-150x150.png" />
	<meta name="msapplication-wide310x150logo" content="/assets/favicons/mstile-310x150.png" />
	<meta name="msapplication-square310x310logo" content="/assets/favicons/mstile-310x310.png" />
	<meta name="theme-color" content="#111111">	
	
	<!-- other styles -->
	
	<link rel="stylesheet" href="{{ '/css/internal.css' | url }}">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">

    <style type="text/css">
        button a:hover{ color: #efefef;
        }
    </style>

    <meta name="generator" content="{{ eleventy.generator }}">


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-91644751-3"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-91644751-3');
    </script>
</head>
  <body>
    <div class="container">
        <div class="row">
            <div class="col mx-auto text-center pt-5">
                <p><img src="/assets/continuumizm-logo-only-box-36x36-black-trans.svg" width="72" height="72" alt="continuumizm logo"></p>
                <h6 class="text-black-50">@continuumizm</h6>
                <p><a href="{{ '/' | url }}"><small>→ Visit site</small></a></p>
                <hr>
            </div>
        </div>
        <div class="row">
            {{ content | safe }}
        </div>
        <footer class="row mt-3">
        </footer>
    </div>	
	<!-- footer? links? -->
	

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!-- Current page: {{ page.url | url }} -->
    </body>
</html>